/*LAYOUT*/

body {
    background-color: #FFE1AA;
    font-family: 'Fraunces', serif;
}

header {
    background-color: #FFFEEF;
    height: 80px;
    font-size: 22px;
    border-bottom: 3px solid #E80000;
}

main {
    border-bottom: 3px solid #E80000;
}

/*jumbotron*/
.jumbotron {
    max-width: 100%;
    padding: 2rem;
    height: 800px;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fback_origin_pic%2F03%2F60%2F56%2F8ea86c041222a5a9564b0bfc4fe3da97.jpg&f=1&nofb=1&ipt=67a7f09edf26420b9dbfc815c2688e3b83d607bce437b194229b7c8b61cffc34&ipo=images);
    background-position: center;
    background-size: cover
}

.jt-logo {
    background-color: #ffe1aa9e;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 50px;
    font-weight: bold;
}

footer {
    background-color: #FFFEEF;
    height: 80px;
}

/*HEADER*/

.nav-link,
a           {
    color:black;
}
.navbar-toggler-icon{
    color:black;
}

.ms_main_title {
    color: #E80000;
    font-weight: bold;
}

/*ADMIN LAYOUT*/

.table td {
    background-color: #FFC978;
}
.table th {
    background-color: #FFC978;
    color: #E80000;
}
.table img {
    width: 200px;
}
/*ABOUT US SECTION*/
.pizzeria {
    padding: 4rem 0;
    background-color: #FFFEEF;
    border-top: 3px solid #E80000;
    border-bottom: 3px solid #E80000;
}
.ms_container {
    padding: 2rem 1rem;
    width: 60%;
    margin: 0 auto;
    border: 3px solid #E80000;
    box-shadow: 10px 10px #FFE1AA;
    border-radius: 10px;
}
.pizzeria_img {
    border: 2px solid #E80000;
    border-radius: 10px;
    box-shadow: 5px 5px #FFE1AA;
    max-width: 50%;
    max-height:50%;
}
.slogan {
    align-self:center;
    color: #E80000;
    font-size:1.4rem;
    font-weight:bold;

}


/*PIZZA CARD*/
.card {
    color: black;
    background-color: #FFC978;
    height: 100%;
    border: 2px solid #E80000;
    box-shadow: 5px 5px #e80000a3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
}

.card:last-child {
    justify-content: flex-end;
}

.card-img img {
    border-radius: 5px;
    width: 100%;
    height: 250px;
}

.card-title {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #E80000;
}

.card-subtitle {
    font-size: 13px;
}

.card-divider {
    width: 100%;
    border: 1px solid black;
    border-radius: 50px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-price {
    font-size: 25px;
    font-weight: 500;
}

.card-price span {
    font-size: 25px;
    font-weight: 500;
}

.card-img:hover {
    transform: translateY(-3px);
}

.details-btn {
    background-color: #e80000c9;
    color: wheat;
}


/*DETTAGLI PAGE*/
.details_container {
    border-top: 3px solid #E80000;
    border-bottom: 3px solid #E80000;
    padding: 4rem 0;
    background-color: #FFE1AA;
}

.details_card {
    color: black;
    background-color: #FFFEEF;
    border: 3px solid #E80000;
    box-shadow: 15px 15px #FFC978;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/*MEDIA QUERY*/

/*@media screen and (max-width: 400px) {
    .ms_container {
        display:block;
    }
}*/
/*@media screen and (max-width: 600px) {
    .ms_container {
        max-width: 50%;
    }
    .pizzeria_img {
        height:20px;
    }
}

*/