@model Pizza

<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="mb-3">Pagina creazione di una Pizza</h1>
        </div>
        <form asp-controller="Pizza" asp-action="Aggiorna" asp-route-id="@Model.Id" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <strong>Gusto:</strong>
                <input type="text" class="form-control" asp-for="Gusto">
                <span asp-validation-for="Gusto" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Ingredienti:</strong>
                <input type="text" class="form-control" asp-for="Ingredienti">
                <span asp-validation-for="Ingredienti" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Prezzo:</strong>
                <input type="number" class="form-control" asp-for="Prezzo">
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>URL Immagine:</strong>
                <input type="text" class="form-control" asp-for="Immagine">
                <span asp-validation-for="Immagine" class="text-danger"></span>
            </div>
            <button type="submit" class="btn my_btn mb-5">Aggiorna</button>
        </form>
    </div>
</div>
