@model Pizza

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-img">
                    <img src="@Model.Immagine" />
                </div>
                <div class="card-title">@Model.Gusto</div>
                <div class="card-subtitle">@Model.Ingredienti.</div>
                <hr class="card-divider">
                <div class="card-price text-center">
                    <span>@Model.Prezzo€</span> €
                </div>
            </div>
        </div>
    </div>
</div>